<div class="row p-2">
  <div class="col-4">
    <%= image_tag url_for(subscription.member.avatar), alt: "Avatar #{subscription.member.first_name}", width: 30 %>
    <%= subscription.member.full_name %>
  </div>

  <div class="col">
    <%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %>
  </div>

  <div class="col">
    <button
      type="button"
      data-toggle="collapse"
      data-target="#collapse-subscription-<%= subscription.id %>"
      role="button"
      aria-expanded="false"
      aria-controls="collapse-subscription-<%= subscription.id %>"
    >
      Détails
    </button>
  </div>

  <div class="col dropdown">
    <% if subscription.completed? %>
      Complété
    <% else %>
      <button
        type="button"
        class="dropdown-toggle"
        id="dropdownMenuSubscription<%= subscription.id %>"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <%= t('defaults.action') %>
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuSubscription<%= subscription.id %>"
      >
        <%= link_to t('.download_subscription_form'), rails_blob_path(subscription.form), disposition: "attachment", class: "dropdown-item" unless subscription.signed_form.attached? %>

        <%= link_to t('.upload_signed_form'), edit_dashboard_subscription_signed_form_path(subscription.id), class: "dropdown-item" if Rails.application.credentials.signed_form[:enabled] && !subscription.signed_form.attached? %>

        <%= link_to t('.upload_medical_certificate'), edit_dashboard_subscription_medical_certificate_path(subscription.id), class: "dropdown-item" if Rails.application.credentials.medical_certificate[:enabled] && !subscription.medical_certificate.attached? %>

        <%= link_to t('.pay'), new_dashboard_subscription_payment_path(subscription.id), class: "dropdown-item" if Rails.application.credentials.online_payment[:enabled] && !subscription.paid? %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive mt-3 collapse <%= show ? 'show' : ''%>" id="collapse-subscription-<%= subscription.id %>">
  <table class="table">
    <thead>
      <tr>
        <th><%= Course.human_attribute_name(:title) %></th>
        <th><%= Course.human_attribute_name(:weekday) %></th>
        <th><%= Course.human_attribute_name(:category) %></th>
      </tr>
    </thead>
    <tbody>
      <% subscription.courses.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td><%= course.weekday %></td>
          <td><%= course.category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
        <tr>
          <th><%= link_to t('.subscription_form'), rails_blob_path(subscription.form), disposition: "attachment" %></th>
          <% if Rails.application.credentials.medical_certificate[:enabled] %>
            <th><%= Subscription.human_attribute_name(:medical_certificate) %></th>
          <% end %>
          <% if Rails.application.credentials.online_payment[:enabled] %>
            <th>Paiement</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if Rails.application.credentials.signed_form[:enabled] %>
            <td>
              <% if subscription.signed_form.attached? %>
                Ajouté -
                <%= link_to t('defaults.download'), rails_blob_path(subscription.signed_form, disposition: "attachment") %> -
                <%= link_to t('defaults.replace'), edit_dashboard_subscription_signed_form_path(subscription.id) %>
              <% else %>
                <%= link_to t('.upload_signed_form'), edit_dashboard_subscription_signed_form_path(subscription.id), class: 'btn btn-primary' %>
              <% end %>
            </td>
          <% end %>
          <% if Rails.application.credentials.medical_certificate[:enabled] %>
            <td>
              <% if subscription.medical_certificate.attached? %>
                Ajouté -
                <%= link_to t('defaults.download'), rails_blob_path(subscription.medical_certificate, disposition: "attachment") %> -
                <%= link_to t('defaults.replace'), edit_dashboard_subscription_medical_certificate_path(subscription.id) %>
              <% else %>
                <%= link_to t('.upload_medical_certificate'), edit_dashboard_subscription_medical_certificate_path(subscription.id), class: 'btn btn-primary' %>
              <% end %>
            </td>
          <% end %>
          <% if Rails.application.credentials.online_payment[:enabled] %>
            <td>
              <% if subscription.paid? %>
                Payé
                <% if subscription.invoice.attached? %>
                  -
                  <%= link_to t('defaults.download'), rails_blob_path(subscription.invoice, disposition: "attachment") %>
                <% end %>
              <% else %>
                <%= link_to t('.pay'), new_dashboard_subscription_payment_path(subscription.id), class: 'btn btn-primary' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
