<p>
  Pour être
  <strong style="color:green;">complet</strong>, votre dossier doit
  <strong style="color:red;">obligatoirement</strong>
  comporter :
</p>

<ul>
  <li>
    Un formulaire d'inscription pour la saison
    <%= Subscription.current_year %> / <%= Subscription.next_year %>
  </li>
  <li>
    Un
    <strong style="color:red;">certificat médical</strong>
    d'aptitude à la pratique du Parkour datant de
    <strong style="color:red;">moins d'un mois</strong>
    sauf si vous étiez déjà inscrit·e pour <em>l'année précédente ou celle d'avant</em>,
  </li>
  <li>
    Le règlement de la cotisation (chèque à l'ordre de Parkour Paris ou en espèces)
  </li>
  <li>
    Les mineurs doivent faire signer le formulaire par leur représentant légal (père, mère ou tuteur).
  </li>
</ul>

<p>
  Afin de nous faciliter le contrôle des pièces et gagner du temps lors de la récupération, merci de joindre l'ensemble des pièces (formulaire signé, paiement par chèques/espèces, certificat médical à jour) dans
  <strong style="color:red;">une pochette plastique perforée</strong>
  au format A4 comme suit :

<ul>
  <li>Au recto, face visible : le formulaire et la cotisation</li>
  <li>
    Au verso, face visible : le certificat médical (obligatoire sauf si vous étiez déjà inscrit·e en
    <em><%= Subscription.previous_year  %> / <%= Subscription.current_year %></em>
    ou
    <em><%= Subscription.previous_year - 1  %> / <%= Subscription.previous_year %></em>)
  </li>
</ul>

<p>
  Pour valider votre inscription, vous devez absolument apporter votre dossier <strong>complet</strong> et le remettre directement aux coachs présents,
  <strong style="color:red;">lors de votre premier cours au plus tard</strong>.
</p>

<p>
  Tout dossier <strong style="color:red;">incomplet</strong> se verra systématiquement <strong style="color:red;">refusé</strong> et vous ne serez pas autorisé à participer aux cours.
</p>

<p>
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", style: "color: #ffa000";%>.
</p>

<p>Bonne rentrée !</p>
