<p>
  Pour être
  <strong class="text-green-600">complet</strong>, votre dossier doit
  <strong class="text-red-600">obligatoirement</strong>
  comporter :
</p>

<ul class="list-disc ml-6 space-y-2">
  <li>
    Un formulaire d'inscription pour la saison
    <%= Subscription.current_year %> / <%= Subscription.next_year %>
  </li>
  <li>
    Un
    <strong class="text-red-600">certificat médical</strong>
    d'aptitude à la pratique du Parkour datant de
    <strong class="text-red-600">moins d'un mois</strong>
    sauf si vous étiez déjà inscrit·e pour <em>l'année précédente ou celle d'avant</em>,
  </li>
  <li>
    Le règlement de la cotisation (chèque - 2 chèques maximum - à l'ordre de Parkour Paris ou en espèces)
  </li>
  <li>
    Les mineurs doivent faire signer le formulaire par leur représentant légal (père, mère ou tuteur).
  </li>
</ul>

<p class="mt-4">
  Afin de nous faciliter le contrôle des pièces et gagner du temps lors de la récupération, merci de joindre l'ensemble des pièces (formulaire signé, paiement par chèques/espèces, certificat médical à jour) dans
  <strong class="text-red-600">une pochette plastique perforée</strong>
  au format A4 comme suit :
</p>

<ul class="list-disc ml-6 space-y-2">
  <li>Au recto, face visible : le formulaire et la cotisation</li>
  <li>
    Au verso, face visible : le certificat médical (obligatoire sauf si vous étiez déjà inscrit·e en
    <em><%= Subscription.previous_year  %> / <%= Subscription.current_year %></em>
    ou
    <em><%= Subscription.previous_year - 1  %> / <%= Subscription.previous_year %></em>)
  </li>
</ul>

<p class="mt-4">
  Pour valider votre inscription, vous devez absolument apporter votre dossier <strong>complet</strong> et le remettre directement aux coachs présents,
  <strong class="text-red-600">lors de votre premier cours au plus tard</strong>.
</p>

<p class="mt-4">
  Tout dossier <strong class="text-red-600">incomplet</strong> se verra systématiquement <strong class="text-red-600">refusé</strong> et vous ne serez pas autorisé à participer aux cours.
</p>

<p class="mt-4">
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", class: "text-amber-500 hover:text-amber-400" %>
</p>

<p class="mt-4">Bonne rentrée !</p>
