<h1 class="page-title"><%= t('defaults.welcome') %> !</h1>
<hr/>

<div class="row">
  <div class="col-md-8 offset-md-2 pt-2">
    <% if @subscriptions.any? %>
      <h3 class="text-center pb-4"><%= t('.subscription_detailed_info', year: Subscription.current_year) %></h3>
      <%= render partial: 'subscription', collection: @subscriptions, as: :subscription, locals: { show: !@subscriptions.many? } %>

      <%= link_to t('.add_subscription'), new_dashboard_subscription_path, class: "btn btn-primary w-100 mt-5" %>
    <% else %>
      <p><%= t('.not_yet_subscribed', year: Subscription.current_year) %></p>
      <%= link_to t('.choose_my_courses'), new_dashboard_subscription_path, class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>

