<h1 class="text-3xl font-bold mb-4"><%= t('defaults.welcome') %> !</h1>
<hr class="border-gray-200 mb-6"/>

<div class="w-full max-w-4xl mx-auto p-4 bg-white rounded-lg shadow">
  <div class="w-full">
    <% if @subscriptions.any? %>
      <h3 class="text-xl font-semibold text-center mb-6"><%= t('.subscription_detailed_info', year: Subscription.current_year) %></h3>

      <div class="bg-blue-100 text-blue-700 p-4 text-center mb-8 rounded-lg">
        <%= t('.come_to_your_slots_only') %>
      </div>

      <%= render partial: 'subscription', collection: @subscriptions, as: :subscription, locals: { show: !@subscriptions.many? } %>

      <%= link_to t('.add_subscription'),
          new_dashboard_subscription_path,
          class: "block w-full text-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 mt-6" %>

      <details class="mt-4">
        <summary class="cursor-pointer w-full text-center py-2 px-4 border border-amber-500 text-amber-500 hover:bg-amber-500 hover:text-white rounded transition-colors">
          <%= t('.how_to_complete_my_subscription') %>
        </summary>
        <div class="mt-4 p-4 bg-white rounded-lg shadow">
          <%= render 'dashboard/subscription_instructions' %>
        </div>
      </details>
    <% else %>
      <p class="text-center mb-4"><%= t('.not_yet_subscribed', year: "#{Subscription.current_year} - #{Subscription.next_year}") %></p>
      <%= link_to t('.choose_my_courses'),
          new_dashboard_subscription_path,
          class: "block w-full text-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
    <% end %>
  </div>
</div>
