<%= form_for [:admin, @member],
             data: { turbo: false } do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.collection_select :level, Member.level_options.map(&:values), :first, :last, { prompt: "Sélectionner un niveau" }, autofocus: true, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate, required: true, class: "form-control" %>
  </div>

  <%= form.fields_for :user, @member.user || @member.build_user do |user_form| %>
    <%= user_form.hidden_field :id, value: @member.user_id %>

    <div
      data-controller="places"
      data-places-app-id="<%= Rails.application.credentials.algolia(:application_id) %>"
      data-places-api-key="<%= Rails.application.credentials.algolia(:search_key) %>"
    >
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= user_form.label :address %>
            <%= user_form.text_field :address, required: true, class: "form-control", data: { :'places-target' => :address } %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <%= user_form.label :zip_code %>
            <%= user_form.text_field :zip_code, required: true, class: "form-control", data: { :'places-target' => :zipCode } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <%= user_form.label :city %>
            <%= user_form.text_field :city, required: true, class: "form-control", data: { :'places-target' => :city } %>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <%= user_form.label :country %>
            <%= user_form.text_field :country, required: true, class: "form-control", data: { :'places-target' => :country } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= user_form.label :phone_number %>
      <%= user_form.telephone_field :phone_number, autocomplete: 'tel', required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user_form.label :email %>
      <%= user_form.email_field :email, required: true, class: "form-control" %>
    </div>

    <% if @member.new_record? %>
      <div class="form-group">
        <%= user_form.label :password %>
        <%= user_form.password_field :password, autocomplete: "new-password", required: true, class: "form-control", minlength: Devise.password_length.min, maxlength: Devise.password_length.max %>
      </div>
    <% end %>

    <div class="form-group">
      <%= user_form.label :admin %>
      <%= user_form.check_box :admin %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contact_phone_number %>
    <%= form.telephone_field :contact_phone_number, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contact_relationship %><br />
    <%= form.collection_select(:contact_relationship, Member::CONTACTS, :to_s, :to_s, { include_blank: true }, required: true, class: "form-control") %>
  </div>

  <div class="form-group" data-controller="image-upload">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, required: !form.object.avatar.attached?, data: { image_upload_target: 'input', action: 'image-upload#preview' } %>

    <div class="mt-2">
      <% if form.object.avatar.attached? && form.object.persisted? %>
        <%= image_tag form.object.avatar, width: 128, data: { image_upload_target: 'output' } %>
      <% else %>
        <%= image_tag 'user.svg', width: 128, class: "bg-light", data: { image_upload_target: 'output' } %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :agreed_to_advertising_right %>
    <%= form.check_box :agreed_to_advertising_right %>
  </div>

  <div class="actions d-flex mb-3">
    <%= link_to t('defaults.back'), :back, class: 'btn btn-default btn-lg flex-fill' %>
    <%= form.submit t('defaults.save'), class: 'btn btn-dark btn-lg flex-fill' %>
  </div>
<% end %>
