<tr>
  <% unless params[:display_level] == 'no' %>
    <td>
      <%= tag.div class: "border border-dark",
                  style: "background-color: #{member.level}; width: 1rem; height: 1rem;",
                  title: member.level_text %>
    </td>
  <% end %>
  <% unless params[:display_avatar] == 'no' %>
    <td>
      <%= link_to [:admin, member] do %>
        <% if member.avatar.variable? %>
          <%= image_tag member.avatar.variant(:mini), width: "30" %>
        <% else %>
          <%= image_tag member.avatar, width: "30" %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <% unless params[:display_name] == 'no' %>
    <td><%= member.full_name %></td>
  <% end %>
  <% unless params[:display_phone_number] == 'no' %>
    <td><%= link_to member.phone_number, "tel:#{member.phone_number}" %></td>
  <% end %>
  <% unless params[:display_email] == 'no' %>
    <td><%= mail_to member.user.email, member.user.email %></td>
  <% end %>
  <% unless params[:display_contact_email] == 'no' %>
    <td><%= member.contacts.map(&:email).join(', ') %></td>
  <% end %>
  <% unless params[:display_actions] == 'no' %>
    <td>
      <div class="dropdown mr-1">
        <a type="button" class="dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
          <%= link_to t('defaults.edit'),
                      [:edit, :admin, member],
                      class: "dropdown-item" %>

          <% Member.levels.each_key do |level| %>
            <% unless member.level == level %>
              <%= button_to({
                              controller: 'admin/members',
                              action: 'update',
                              id: member.id,
                              member: { level: level }
                            },
                            method: :put,
                            class: "dropdown-item d-flex align-items-center") do %>
                <%= tag.div class: "border border-dark",
                    style: "background-color: #{level}; width: 1rem; height: 1rem;",
                    title: member.level_text %>
                <span class="ml-2"><%= t("admin.courses.subscription.move_to_#{level}_level") %></span>
              <% end %>
            <% end %>
          <% end %>

          <%= button_to t('defaults.destroy'),
                        [:admin, member],
                        method: :delete,
                        data: {
                          controller: :confirm,
                          confirm_message_value: t('defaults.are_you_sure')
                        },
                        class: "dropdown-item text-danger" %>
        </div>
      </div>
    </td>
  <% end %>
</tr>
