<tr>
  <% unless params[:display_level] == 'no' %>
    <td>
      <%= tag.div class: "border border-dark",
                  style: "background-color: #{member.level}; width: 1rem; height: 1rem;",
                  title: member.level_text %>
    </td>
  <% end %>
  <% unless params[:display_avatar] == 'no' %>
    <td>
      <%= link_to [:admin, member] do %>
        <% if member.avatar.variable? %>
          <%= image_tag member.avatar.variant(:mini), width: "30" %>
        <% else %>
          <%= image_tag member.avatar, width: "30" %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <% unless params[:display_name] == 'no' %>
    <td><%= member.full_name %></td>
  <% end %>
  <% unless params[:display_phone_number] == 'no' %>
    <td><%= link_to member.phone_number, "tel:#{member.phone_number}" %></td>
  <% end %>
  <% unless params[:display_email] == 'no' %>
    <td><%= mail_to member.user.email, member.user.email %></td>
  <% end %>
  <% unless params[:display_contact_email] == 'no' %>
    <td><%= member.contacts.map(&:email).join(', ') %></td>
  <% end %>
  <% unless params[:display_actions] == 'no' %>
    <td>
      <div class="d-flex justify-content-around">
        <%= link_to t('defaults.edit'),
                    [:edit, :admin, member],
                    class: "btn btn-outline-warning btn-sm" %>
        <%= button_to t('defaults.destroy'),
                      [:admin, member],
                      method: :delete,
                      data: {
                        controller: :confirm,
                        confirm_message_value: t('defaults.are_you_sure')
                      },
                      class: "btn btn-outline-danger btn-sm" %>
      </div>
    </td>
  <% end %>
</tr>
