<h1 class="page-title"><%= t(".title") %></h1>
<hr />

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-md">
        <%= form_with(url: %i[admin members], local: true, method: :get) do %>
          <div class="input-group mb-3">
            <%= text_field_tag(:q, params[:q], class: "form-control mr-sm-2", placeholder: "Search") %>
            <div class="input-group-append">
              <%= submit_tag("Search", class: "btn btn-success") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md">
        <%= link_to t('defaults.new', resource: User.model_name.human.downcase), %i[new admin member], class: "btn btn-primary float-right" %>
      </div>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th><%= Member.human_attribute_name(:avatar) %></th>
          <th><%= Member.human_attribute_name(:last_name) %></th>
          <th><%= User.human_attribute_name(:phone_number) %></th>
          <th class="d-none d-sm-table-cell"><%= User.human_attribute_name(:email) %></th>
          <th class="d-none d-lg-table-cell">Action</th>
        </tr>
      </thead>

      <tbody>
        <% if @members.empty? %>
          <tr>
            <td colspan="6" class="text-center">
              <%= link_to t('.add_member'), %i[new admin member], class: "btn btn-primary" %>
            </td>
          </tr>
        <% else %>
          <% @members.each do |member| %>
            <tr>
              <td>
                <%= link_to [:admin, member] do %>
                  <%= image_tag url_for(member.avatar), width: "30" %>
                <% end %>
              </td>
              <td><%= member.first_name.capitalize.titleize %> <%= member.last_name.capitalize.titleize %></td>
              <td><%= link_to member.phone_number, "tel:#{member.phone_number}" %></td>
              <td class="d-none d-sm-table-cell"><%= mail_to member.user.email, member.user.email %></td>
              <td class="d-none d-lg-table-cell">
                <%= link_to t('defaults.edit'), [:edit, :admin, member], class: "btn btn-outline-warning btn-sm" %>
                <%= link_to t('defaults.destroy'), [:admin, member], method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "btn btn-outline-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @members %>
  </div>
</div>
