<h1 class="page-title"><%= t(".title") %></h1>
<hr />

<div class="row">
  <div class="col-12">

    <%= form_with(url: %i[admin members], local: true, method: :get, data: { turbo: false }) do %>
      <div class="input-group mb-3">
        <%= text_field_tag :q, params[:q], class: "form-control mr-sm-2", placeholder: t('.search_by_name') %>
        <%= collection_select nil, :category, Category.all, :id, :title, { prompt: t('.search_by_category'), selected: params[:category], include_blank: t('.search_by_category') }, autocomplete: :off, class: 'form-control mr-2'  %>
      </div>

      <div class="my-3">
        <span>Afficher les champs&nbsp: </span>

        <div class="d-flex align-items-center">
          <%= check_box nil, :avatar, { checked: params[:avatar] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :avatar, Member.human_attribute_name(:avatar), class: 'ml-1 mb-0' %>
        </div>

        <div class="d-flex align-items-center">
          <%= check_box nil, :name, { checked: params[:name] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :name, Member.human_attribute_name(:last_name), class: 'ml-1 mb-0' %>
        </div>

        <div class="d-flex align-items-center">
          <%= check_box nil, :phone_number, { checked: params[:phone_number] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :phone_number, User.human_attribute_name(:phone_number), class: 'ml-1 mb-0' %>
        </div>

        <div class="d-flex align-items-center">
          <%= check_box nil, :email, { checked: params[:email] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :email, User.human_attribute_name(:email), class: 'ml-1 mb-0' %>
        </div>

        <div class="d-flex align-items-center">
          <%= check_box nil, :contact_email, { checked: params[:contact_email] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :contact_email, Contact.human_attribute_name(:email), class: 'ml-1 mb-0' %>
        </div>

        <div class="d-flex align-items-center">
          <%= check_box nil, :actions, { checked: params[:actions] != 'hide', autocomplete: :off }, 'show', 'hide' %>
          <%= label_tag :actions, 'Actions', class: 'ml-1 mb-0' %>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <%= check_box nil, :no_paginate, { checked: params[:no_paginate].present?, autocomplete: :off }, true, false %>
        <%= label_tag :no_paginate, t('.no_paginate'), class: 'ml-1 mb-0' %>
      </div>

      <div class="d-flex align-items-center">
        <%= check_box nil, :format, { checked: false, autocomplete: :off }, 'csv', 'html' %>
        <%= label_tag :format, t('.csv_export'), class: 'ml-1 mb-0' %>
      </div>

      <%= submit_tag t('defaults.search'), class: "btn btn-success my-4" %>
    <% end %>

    <div class="d-flex justify-content-end my-3">
      <%= link_to t('defaults.new', resource: User.model_name.human.downcase), %i[new admin member], class: "btn btn-primary ml-2" %>
    </div>

    <table class="table mt-5">
      <thead>
        <tr>
          <% unless params[:avatar] == 'hide' %>
            <th><%= Member.human_attribute_name(:avatar) %></th>
          <% end %>
          <% unless params[:name] == 'hide' %>
            <th><%= Member.human_attribute_name(:last_name) %></th>
          <% end %>
          <% unless params[:phone_number] == 'hide' %>
            <th><%= User.human_attribute_name(:phone_number) %></th>
          <% end %>
          <% unless params[:email] == 'hide' %>
            <th><%= User.human_attribute_name(:email) %></th>
          <% end %>
          <% unless params[:contact_email] == 'hide' %>
            <th><%= Contact.human_attribute_name(:email) %></th>
          <% end %>
          <% unless params[:actions] == 'hide' %>
            <th class="text-center">Action</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% if @members.empty? %>
          <tr>
            <td colspan="6" class="text-center">
              <%= link_to t('.add_member'), %i[new admin member], class: "btn btn-primary" %>
            </td>
          </tr>
        <% else %>
          <% @members.each do |member| %>
            <tr>
              <% unless params[:avatar] == 'hide' %>
                <td>
                  <%= link_to [:admin, member] do %>
                    <% if member.avatar.variable? %>
                      <%= image_tag member.avatar.variant(:mini), width: "30" %>
                    <% else %>
                      <%= image_tag member.avatar, width: "30" %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <% unless params[:name] == 'hide' %>
                <td><%= member.full_name %></td>
              <% end %>
              <% unless params[:phone_number] == 'hide' %>
                <td><%= link_to member.phone_number, "tel:#{member.phone_number}" %></td>
              <% end %>
              <% unless params[:email] == 'hide' %>
                <td><%= mail_to member.user.email, member.user.email %></td>
              <% end %>
              <% unless params[:contact_email] == 'hide' %>
                <td><%= member.contacts.map(&:email).join(', ') %></td>
              <% end %>
              <% unless params[:actions] == 'hide' %>
                <td>
                  <div class="d-flex justify-content-around">
                    <%= link_to t('defaults.edit'),
                                [:edit, :admin, member],
                                class: "btn btn-outline-warning btn-sm" %>
                    <%= button_to t('defaults.destroy'),
                                  [:admin, member],
                                  method: :delete,
                                  data: {
                                    controller: :confirm,
                                    confirm_message_value: t('defaults.are_you_sure')
                                  },
                                  class: "btn btn-outline-danger btn-sm" %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <% if params[:no_paginate].blank? %>
      <%= paginate @members %>
    <% end %>
  </div>
</div>
