<h1 class="page-title"><%= t('.edit_my_account') %></h1>
<hr />

<div class="row">
  <div class="col-md-6 offset-md-3">

    <%= form_for resource,
                 as: resource_name,
                 url: registration_path(resource_name),
                 html: {
                   method: :put,
                   data: { controller: :form }
                 } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number, required: true, class: "form-control" %>
      </div>

      <div
        data-controller="places"
        data-places-app-id="<%= Rails.application.credentials.algolia(:application_id) %>"
        data-places-api-key="<%= Rails.application.credentials.algolia(:search_key) %>"
      >
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, required: true, class: "form-control", data: { :'places-target' => :address } %>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code, required: true, class: "form-control", data: {:'places-target' => :zipCode } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, required: true, class: "form-control", data: {:'places-target' => :city } %>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <%= f.label :country %>
              <%= f.text_field :country, required: true, class: "form-control", data: {:'places-target' => :country } %>
            </div>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>En attente de confirmation pour l'E-mail : <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :current_password do %>
          <%= resource.class.human_attribute_name(:current_password) %>
          <em>(<%= t('.current_password_needed') %>)</em>
        <% end %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <%= f.fields_for :contacts, f.object.contacts.first_or_initialize do |ff| %>
        <div class="form-group">
          <%= ff.label :email, 'Autre E-mail de notification (facultatif)' %>
          <%= ff.text_field :email, required: true, class: "form-control" %>

          <div class="d-flex justify-content-between">
            <details class="text-sm w-50">
              <summary><small>ℹ️ À quoi ça sert ?</small></summary>

              <small class="d-block mt-2">
                Vous pouvez ajouter une adresse E-mail supplémentaire à celle que vous utilisez pour votre compte.
                Cette adresse E-mail sera alors en copie de toutes les notifications que vous recevez de la part de Parkour Paris Inscriptions.

                Cela permet par exemple à des parents d'un·e même élève de recevoir les notifications chacun sur leur adresse respective.
                La personne possédant l'adresse E-mail devra toutefois confirmer cet ajout.
              <p>
              </small>
            </details>

            <% if ff.object.persisted? %>
              <%= ff.hidden_field :id %>
              <small class="mt-1">
                <%= ff.check_box :_destroy %>
                <%= ff.label :_destroy, 'Supprimer le contact' %>
              </small>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password do %>
          <%= resource.class.human_attribute_name(:password) %>
          <% if @minimum_password_length %>
            <em>(<%= t('.minimum_characters', length: @minimum_password_length) %>)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: t('.leave_blank_if_you_wont_change_it'), minlength: Devise.password_length.min, maxlength: Devise.password_length.max %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: t('.leave_blank_if_you_wont_change_it') %>
      </div>

      <div class="actions d-flex mt-3 mb-5">
        <%= link_to t('defaults.back'), :back, class: 'btn btn-default btn-lg flex-fill' %>
        <%= f.submit t('defaults.save'),
                     class: 'btn btn-dark btn-lg flex-fill',
                     data: { form_target: :submit } %>
      </div>
    <% end %>

    <div class="clearfix mb-5"></div>

    <div class="mb-5">
      <h1 class="page-title"><%= t('.delete_my_account') %></h1>
      <hr />

      <p>
        <%= t('.click_below_to_delete_your_account') %>
        <br />
        <b><%= t('.warning_cannot_be_undone') %></b>
      </p>

      <%= button_to t('.delete_my_account'),
                    registration_path(resource_name),
                    data: {
                      controller: :confirm,
                      confirm_message_value: t('.are_you_sure')
                    },
                    method: :delete,
                    class: 'btn btn-danger btn-lg w-100' %>
    </div>
  </div>
</div>
