<div class="w-full max-w-2xl mx-auto px-4 py-8">
  <%= render 'dashboard/subscriptions/details', subscription: @subscription %>

  <div class="mt-6">
    <%= render 'dashboard/subscriptions/payment_tabs', subscription: @subscription %>

    <!-- Stripe Payment Form -->
    <div class="bg-white rounded-xl shadow-lg p-8 flex flex-col gap-6 animate-slide-in-from-left animation-duration-500">

      <h2 class="text-xl font-bold text-gray-900">
        <%= t('.title') %>
      </h2>

      <%= form_for @subscription,
                    url: dashboard_subscription_payment_path(@subscription.id),
                    method: :post,
                    class: "space-y-4 mt-2",
                    data: {
                      controller: 'form stripe',
                      stripe_target: 'form',
                      stripe_key_value: Rails.application.credentials.stripe[:public_key],
                      stripe_locale_value: I18n.locale
                    } do |f| %>
        <div>
          <label for="card-element" class="block text-sm font-medium text-gray-700 mb-1">
            <%= t('.payment_by_card')%>
          </label>
          <div class="mt-1 p-3 border rounded-md shadow-sm bg-white" data-stripe-target="cardElement">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <div class="mt-2 text-sm text-red-600" data-stripe-target="cardErrors" role="alert"></div>
        </div>
        <div class="flex flex-col sm:flex-row gap-3 mt-8">
          <%= link_to t('defaults.back'), :dashboard, class: "inline-flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800" %>
          <%= f.submit t('.pay', amount: number_to_currency(@subscription.fee, unit: "€", separator: ",", format: "%n %u")),
                        class: "inline-flex justify-center items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-slate-800 hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800",
                        data: { form_target: :submit, turbo_submits_with: t('.paying') } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
