<% total_amount = number_to_euros(subscription.fee) %>


<div class="header">
  <div class="float-left">
    <%= wicked_pdf_image_tag 'parkourparis.jpg', class: 'invoice-logo', height: 40 %>
    <div class="mt-5">
      <p>Parkour Paris</p>
      <p>ID société : 750 838 609 00014</p>
      <p><%= mail_to 'parkour.paris@gmail.com', 'parkour.paris@gmail.com' %></p>
    </div>
    <div class="mt-5">
      <p>International School of Paris</p>
      <p>E-mail: lhudson@isparis.edu</p>
      <p>Adresse: Rue Beethoven</p>
      <p>Paris</p>
    </div>
  </div>
  <div class="float-right mt-5">
    <h3>Facture: #<%= subscription.year %><%= subscription.id %></h3>
    <p>Payée le: <%= subscription.paid_at %>
    <p>Date de délivrance : <%= Time.current %></p>
  </div>
</div>

<table class="table mt-5 text-center">
  <thead>
    <tr>
      <th>Article ou Service</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= subscription.description %></td>
      <td><%= total_amount %></td>
      <td>1</td>
      <td><%= total_amount %></td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr>
      <td>Sous-total :</td>
      <td><%= total_amount %></td>
    </tr>
    <tr>
      <td>Total facture :</td>
      <td><%= total_amount %></td>
    </tr>
    <tr colspan="2">
      <td>Montant payé :</td>
      <td><%= number_to_euros(subscription.paid_amount) %></td>
    </tr>
    <tr colspan="2">
      <td>Solde :</td>
      <td><%= number_to_euros(subscription.balance) %></td>
    </tr>
  </tbody>
</table>
