<div id="header">
  <%= wicked_pdf_image_tag URI.decode(avatar_url), class: 'avatar' %>
  <%= wicked_pdf_image_tag 'parkourparis.jpg', class: 'logo' %>
</div>

<h1 class="title">
  Inscription <%= current_year %> / <%= next_year %>
</h1>

<div class="fullname-container">
  <h2 class="fullname">
    <%= last_name.upcase %> <%= first_name %>
  </h2>
</div>

<table class="member-info">
  <tr>
    <td>Type de cours choisi</td>
    <td><%= subscription.courses.pluck(:title).join(', ') %></td>
  </tr>
  <tr>
    <td>Date de naissance</td>
    <td><%= subscription.member.brirthdate %></td>
  </tr>
  <tr>
    <td>Nationalité</td>
    <td><%= citizenship %></td>
  </tr>
  <tr>
    <td>Adresse</td>
    <td><%= subscritpion.member.address %></td>
  </tr>
  <tr>
    <td>Code postal</td>
    <td><%= subscritpion.member.zip_code %></td>
  </tr>
  <tr>
    <td>Ville</td>
    <td><%= subscritpion.member.city %></td>
  </tr>
  <tr>
    <td>Pays</td>
    <td><%= subscritpion.member.country %>
  </tr>
  <tr>
    <td>Téléphone fixe</td>
    <td><%= subscritpion.member.phone_number %></td>
  </tr>
  <tr>
    <td>Téléphone portable</td>
    <td><%= cellphone_number %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= subscritpion.member.email %></td>
  </tr>
  <tr>
    <td>Contact</td>
    <td><%= subscritpion.member.contact_name %></td>
  </tr>
  <tr>
    <td>Lien de parenté</td>
    <td><%= subscritpion.member.contact_relationship %></td>
  </tr>
  <tr>
    <td>Téléphone du contact</td>
    <td><%= subscritpion.member.contact_phone_number %></td>
  </tr>
  <tr>
    <td>Droit à l'image</td>
    <td><%= subscritpion.member.agreed_to_publicity_right %></td>
  </tr>
  <tr>
    <td>Tarif</td>
    <td><%= subscription.fee %></td>
  </tr>
</table>

<p class="terms">
  Je certifie avoir pris connaissance des activités proposées
  par l'Association ParKour Paris et déclare qu'elles n'engagent
  que ma seule responsabilité en cas d'accident ou d'incident
</p>

<label class="label-warning">
  Merci de bien vouloir apporter cette fiche signée
  lors de votre premier cours.
</label>

<fieldset class="signature">
  <legend>
    Signature de l'adhérent ou de son représentant légal
  </legend>
</fieldset>
