<div id="header">
  <%= wicked_pdf_image_tag polymorphic_url(subscription.member.avatar), class: 'avatar' %>
  <%= wicked_pdf_image_tag asset_url('parkourparis.jpg'), class: 'logo', alt: "Logo Parkour Paris" %>
</div>

<h1 class="title">
  Inscription <%= subscription.year %> / <%= subscription.year + 1 %>
</h1>

<div class="fullname-container">
  <h2 class="fullname">
    <%= subscription.member.last_name.upcase %> <%= subscription.member.first_name %>
  </h2>
</div>

<table class="member-info">
  <tr>
    <td>Type de cours choisi</td>
    <td><%= subscription.description %></td>
  </tr>
  <tr>
    <td>Date de naissance</td>
    <td><%= subscription.member.birthdate %></td>
  </tr>
  <tr>
    <td>Adresse</td>
    <td><%= subscription.member.address %></td>
  </tr>
  <tr>
    <td>Code postal</td>
    <td><%= subscription.member.zip_code %></td>
  </tr>
  <tr>
    <td>Ville</td>
    <td><%= subscription.member.city %></td>
  </tr>
  <tr>
    <td>Pays</td>
    <td><%= subscription.member.country %>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><%= subscription.member.phone_number %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= subscription.member.email %></td>
  </tr>
  <tr>
    <td>Contact</td>
    <td><%= subscription.member.contact_name %></td>
  </tr>
  <tr>
    <td>Lien de parenté</td>
    <td><%= subscription.member.contact_relationship %></td>
  </tr>
  <tr>
    <td>Téléphone du contact</td>
    <td><%= subscription.member.contact_phone_number %></td>
  </tr>
  <tr>
    <td>Droit à l'image</td>
    <td><%= subscription.member.agreed_to_advertising_right ? 'Oui' : 'Non' %></td>
  </tr>
  <tr>
    <td>Tarif</td>
    <td><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
  </tr>
</table>

<p class="terms">
  Je certifie avoir pris connaissance des activités proposées
  par l'Association ParKour Paris et déclare qu'elles n'engagent
  que ma seule responsabilité en cas d'accident ou d'incident
</p>

<label class="label-warning">
  Merci de bien vouloir apporter cette fiche signée
  lors de votre premier cours.
</label>

<fieldset class="signature">
  <legend>
    Signature de l'adhérent ou de son représentant légal
  </legend>
</fieldset>
