<div class="container">
  <%= form_for [:admin, @subscription, :invoice],
               data: { controller: :form } do |form| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <p><strong>Parkour Paris</strong></p>
      <p>ID société : 750 838 609 00014</p>
      <p>parkour.paris@gmail.com</p>
      <p><strong><%= @subscription.member.full_name %></strong></p>
      <p><%= @subscription.member.address %></p>
      <p><%= @subscription.member.zip_code %> <%= @subscription.member.city %>, <%= @subscription.member.country %></p>
      <p><%= mail_to @subscription.member.email %>, <%= @subscription.member.phone_number %></p>
    </div>
    <div class="form-group">
      <%= form.label :invoice %>
      <%= form.file_field :invoice, required: true %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'),
                      class: "btn btn-dark float-lg-right",
                      data: { form_target: :submit } %>
      <%= link_to t('defaults.back'), [:admin, @subscription], class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
