
<div class="container">
  <%= form_with(model: @subscription, local: true, url:   admin_subscription_invoice_path(@subscription.id)) do |form| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this invoice from being generated:</h2>
        <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= image_pack_tag "Logo_PKP.webp" %>
    <p>Parkour Paris</p>
    <p>ID société : 750 838 609 00014</p>
    <p>parkour.paris@gmail.com</p>


    <p>International School of Paris</p>
    <p>E-mail: lhudson@isparis.edu</p>
    <p>Adresse: Rue Beethoven</p>
    <p>Paris</p>

    <p>Facture: #<%= @subscription.year %><%= @subscription.id %></p>
    <p>Payée le: <%= @subscription.paid_at %>
    <p>Date de délivrance : <%= Time.now %></p>


    <table class="table mt-5">
      <thead>
        <tr class="text-center">
          <th>Article ou Service</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
        </tr>

      </thead>

      <tbody>
          <tr class="text-center">
            <td><%= @subscription %></td>
            <td><%= number_to_currency(@subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
            <td>1</td>
            <td><%= number_to_currency(@subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
          </tr>
        </tbody>
    </table>

    <div class="form-group">
      <%= form.label :invoice %>
      <%= form.file_field :invoice, required: true %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'), class: "btn btn-dark float-lg-right" %>
      <%= link_to t('defaults.back'), admin_subscription_path(@subscription.id), class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
