<div class="container">
  <%= form_for [:admin, @subscription, :credit_notes],
               data: { controller: :form } do |form| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this credit note to be generated:</h2>

        <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :credit_note_amount %>
      <%= form.number_field :credit_note_amount, min: 0, max: @subscription.fee, step: 0.1, placeholder: "maximum #{@subscription.fee}", class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'),
                      class: "btn btn-dark float-lg-right",
                      data: { form_target: :submit } %>
      <%= link_to t('defaults.back'), %i[admin subscriptions], class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
