<h1><%= t('.title') %></h1>

<p><%= t('.greeting', member_name: @member.full_name) %></p>

<p><%= t('.message', course_title: @course.title) %></p>

<p><%= t('.contact_message') %></p>

<p><%= t('.signature') %><br>
<%= t('.team') %></p>
