<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="page-title"><%= t('defaults.login') %></h1>
    <hr />

    <%= form_for resource,
                 as: resource_name,
                 url: session_path(resource_name),
                 data: { controller: :form } do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <% if devise_mapping.rememberable? %>
          <div class="form-group float-left">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit t('defaults.login'),
                     class: "btn btn-dark btn-lg w-100",
                     data: { form_target: :submit } %>
      </div>
    <% end %>

    <div class="clearfix mt-2">
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
