<p>
  Bonjour <%= @subscription.member.first_name %>,
</p>

<p>
  Votre inscription est confirmée ! Vous pouvez désormais participer aux cours suivants :
<p>

<ul>
  <% @subscription.courses.each do |course| %>
    <li><%= course.title %></li>
  <% end %>
</ul>

<p>
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", style: "color: #ffa000";%>.
</p>

<p>Bonne rentrée !</p>

<p>Sportivement,</p>

<p>L'équipe Parkour Paris</p>

<%= link_to "www.parkourparis.fr", "www.parkourparis.fr", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://www.facebook.com/ParkourParis", "https://www.facebook.com/ParkourParis", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://twitter.com/Parkour_Paris", "https://twitter.com/Parkour_Paris", style: "color: #ffa000"; %>
