<p>
  Bonjour <%= @subscription.member.first_name %>,
</p>

<p>
  Votre inscription a bien été prise en compte.
<p>

<p>
  N'oubliez pas que pour être
  <strong style="color:green;">valide</strong>, vous devez
  <strong style="color:red;">obligatoirement</strong> :
</p>

<ul>
  <li>
    <%= link_to "accepter les conditions d'inscription", edit_dashboard_subscription_terms_url(@subscription) %>
    pour la saison <%= @subscription.season %>
  </li>
  <li>
    avoir un
    <%= link_to "certificat médical", edit_dashboard_subscription_medical_certificate_url(@subscription) %>
    faisant état de votre aptitude à la pratique du parkour
  </li>
  <li>
    <%= link_to "régler votre cotisation par carte bancaire", new_dashboard_subscription_payment_url(@subscription) %>
  </li>
</ul>

<p>
  Vous devez absolument avoir complété ces étapes
  <strong style="color:red;">avant de commencer votre première séance</strong>.
</p>

<p>
  Toute inscription <strong style="color:red;">incomplète</strong> sera systématiquement <strong style="color:red;">refusée</strong> et vous ne pourrez pas participer aux cours.
</p>

<p>
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", style: "color: #ffa000";%>.
</p>

<p>Bonne rentrée !</p>

<p>Sportivement,</p>

<p>L'équipe Parkour Paris</p>

<%= link_to "www.parkourparis.fr", "www.parkourparis.fr", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://www.facebook.com/ParkourParis", "https://www.facebook.com/ParkourParis", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://twitter.com/Parkour_Paris", "https://twitter.com/Parkour_Paris", style: "color: #ffa000"; %>
