<p>
  Bonjour <%= @subscription.member.first_name %>,
</p>

<p>
  Votre inscription a bien été prise en compte.
<p>

<p>
  Pensez à imprimer et à signer votre formulaire disponible en pièce jointe.
</p>

<p>
  N'oubliez pas que pour être
  <strong style="color:green;">complet</strong>, votre dossier doit
  <strong style="color:red;">obligatoirement</strong>
  comporter :
</p>

<ul>
  <li>
    Un formulaire d'inscription pour la saison
    <%= @subscription.year %> / <%= @subscription.year + 1 %>
  </li>
  <li>
    Un
    <strong style="color:red;">certificat médical</strong>
    d'aptitude à la pratique du Parkour datant de
    <strong style="color:red;">moins d'un mois</strong>,
  </li>
  <li>
    Le règlement de la cotisation (chèque à l'ordre de Parkour Paris ou en espèces,
  </li>
  <li>
    Les mineurs doivent faire signer le formulaire par leur représentant légal (père, mère ou tuteur).
  </li>
</ul>

<p>
  Afin de nous faciliter le contrôle des pièces et gagner du temps lors de la récupération, merci de mettre votre dossier dans
  <strong style="color:red;">une pochette plastique perforée</strong>
  au format A4 comme suit :

<ul>
  <li>Au recto, face visible : le formulaire et la cotisation</li>
  <li>Au verso, face visible : le certificat médical</li>
</ul>

<p>
  Pour valider votre inscription, vous devez absolument apporter votre dossier <strong>complet</strong> et le remettre directement aux coachs présents,
  <strong style="color:red;">lors de votre premier cours au plus tard</strong>.
</p>

<p>
  Tout dossier <strong style="color:red;">incomplet</strong> se verra systématiquement <strong style="color:red;">refusé</strong> et vous ne serez pas autorisé à participer aux cours.
</p>

<p>
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", style: "color: #ffa000";%>.
</p>

<p>Bonne rentrée !</p>

<p>Sportivement,</p>

<p>L'équipe Parkour Paris</p>

<%= link_to "www.parkourparis.fr", "www.parkourparis.fr", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://www.facebook.com/ParkourParis", "https://www.facebook.com/ParkourParis", style: "color: #ffa000"; %>
<br/>
<%= link_to "https://twitter.com/Parkour_Paris", "https://twitter.com/Parkour_Paris", style: "color: #ffa000"; %>
