<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for [:admin, @category], data: { controller: :form } do |form| %>
      <% if form.object.errors.any? %>
        <div id="error_explanation" class="error_explanation">
          <ul>
            <% form.object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :min_age %>
        <%= form.number_field :min_age, required: true, class: "form-control", min: Category::MIN_AGE, max: Category::MAX_AGE %>
      </div>

      <div class="form-group">
        <%= form.label :max_age %>
        <%= form.number_field :max_age, required: true, class: "form-control", min: Category::MIN_AGE, max: Category::MAX_AGE %>
      </div>

      <div class="actions">
        <%= link_to t('defaults.back'), :back, class: "btn btn-link float-left" %>
        <%= form.submit t('defaults.save'),
                        class: "btn btn-dark float-lg-right",
                        data: { form_target: :submit } %>
      </div>
    <% end %>
  </div>
</div>
