<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @form, local: true, url: new_dashboard_subscription_path, method: :get) do |f| %>
      <div class="form-group">
        <%= f.label :category %>
        <%= f.collection_select(:category, Course::CATEGORIES, :to_s, :to_s, { include_blank: true }, required: true, class: "form-control", onchange: "this.form.submit();") %>
      </div>
    <% end %>

    <div class="clearfix"></div>

    <%= form_with(model: @form, local: true, url: dashboard_subscriptions_path, class: "mt-3") do |f| %>
      <%= f.hidden_field :category %>
      <% if @form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@form.errors.count, "error") %> prohibited this subscription from being saved:</h2>

          <ul>
          <% @form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if @form.courses.any? %>
        <div class="form-group">
          <%= f.label :course_ids %>
          <%= f.collection_check_boxes :course_ids, @form.courses, :id, :title, required: true do |b| %>
            <div class="form-check">
              <%= b.check_box(class: "form-check-input") %>
              <%= b.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>
        <div class="actions d-flex mt-3">
          <%= link_to t('defaults.back'), dashboard_index_path, class: "btn btn-link flex-fill" %>
          <%= f.submit t('defaults.save'), class: "btn btn-dark flex-fill" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
