<div class="container">
  <%= form_for [:admin, @subscription] do |form| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation" class="error_explanation">
        <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :member_id %><br />
      <%= form.grouped_collection_select :member_id,
                                         User.all,
                                         :members,
                                         :email,
                                         :id,
                                         :full_name,
                                         { include_blank: t('.select_a_member') },
                                         class: "form-control",
                                         placeholder: t('.select_a_member'),
                                         data: { controller: 'select' } %>
    </div>

    <div class="form-group">
      <%= form.label :course_ids %>
      <%= form.collection_check_boxes :course_ids, Course.order(:created_at), :id, :title do |b| %>
        <div class="form-check">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'), class: "btn btn-dark float-lg-right" %>
      <%= link_to t('defaults.back'), %i[admin subscriptions], class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
