<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: subscription, local: true, url: url) do |form| %>
      <% if subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

          <ul>
          <% subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :member_id %>
        <%= form.collection_select(:member_id, User.all, :id, :full_name, { include_blank: true }, class: "form-control") %>
      </div>

      <div class="form-group">
        <%= form.label :course_ids %>
        <%= form.collection_check_boxes :course_ids, Course.all, :id, :title do |b| %>
          <div class="form-check">
            <%= b.check_box(class: "form-check-input") %>
            <%= b.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit t('defaults.save'), class: "btn btn-dark btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
