<div class="container">
  <%= form_for [:admin, @subscription], data: { controller: :form } do |form| %>
    <div class="form-group">
      <%= form.label :member_id %><br />
      <%= form.grouped_collection_select :member_id,
                                         User.all,
                                         :members,
                                         :email,
                                         :id,
                                         :full_name,
                                         { include_blank: t('.select_a_member') },
                                         class: "form-control",
                                         placeholder: t('.select_a_member'),
                                         data: { controller: 'select' } %>
      <% if form.object.errors[:member_id].any? || form.object.errors[:member].any? %>
        <div id="error_explanation" class="error_explanation">
          <ul>
            <% form.object.errors.full_messages_for(:member_id).each do |message| %>
              <li><%= message %></li>
            <% end %>
            <% form.object.errors.full_messages_for(:member).each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :course_ids %>
      <%= form.collection_check_boxes :course_ids, Course.order(:created_at), :id, :title do |b| %>
        <div class="form-check">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>

      <% if form.object.errors[:course_ids].any? || form.object.errors[:courses].any? %>
        <div id="error_explanation" class="error_explanation">
          <ul>
            <% form.object.errors.full_messages_for(:course_ids).each do |message| %>
              <li><%= message %></li>
            <% end %>
            <% form.object.errors.full_messages_for(:courses).each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'),
                      class: "btn btn-dark float-lg-right",
                      data: { form_target: :submit } %>
      <%= link_to t('defaults.back'), %i[admin subscriptions], class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
