<h1 class="page-title"><%= t(".title") %> <%= Subscription.current_year %> - <%= Subscription.current_year + 1%></h1>
<hr />

<%= link_to t('.new'), new_admin_subscription_path, class: "btn btn-primary" %>

<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Subscription.human_attribute_name(:member_id) %></th>
      <th><%= Subscription.human_attribute_name(:fee) %></th>
      <th><%= Subscription.human_attribute_name(:year) %></th>
      <th colspan="2"><%= Subscription.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% if @subscriptions.empty? %>
      <tr>
        <td colspan="5" class="text-center">
          <%= link_to t('.new'), new_admin_subscription_path %>
        </td>
      </tr>
    <% else %>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td><%= link_to subscription.id, admin_subscription_path(subscription.id) %></td>
          <td>
            <%= link_to admin_member_path(subscription.member_id) do %>
              <%= image_tag url_for(subscription.member.avatar), width: 30 %>
              <%= subscription.member.full_name %>
            <% end %>
          </td>
          <td><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
          <td><%= subscription.year %></td>
          <td><%= Subscription.human_attribute_name(subscription.status) %></td>
          <td>
            <div class="dropdown mr-1">
              <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <%= link_to t('defaults.edit'), edit_admin_subscription_path(subscription.id), class: "dropdown-item" %>
                <%= link_to t('defaults.confirm'), confirm_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                <%= link_to t('defaults.archive'), archive_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                <%= link_to t('defaults.destroy'), admin_subscription_path(subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @subscriptions %>

