<h1 class="page-title"><%= t(".title") %> <%= Subscription.current_year %> - <%= Subscription.current_year + 1%></h1>
<hr />
<div class="row mt-4">
  <%= form_with url: %i[admin subscriptions],
                local: true,
                method: :get,
                class: "col-sm-6" do %>
    <div class="d-flex align-items-center">
      <%= select_tag(
        :status,
        options_for_select(Subscription.statuses, params[:status]),
        include_blank: 'Statut',
        class: 'h-25 form-control mr-2'
      ) %>
      <%= select_tag(
        :year,
        options_for_select(
          (2019..Subscription.current_year).to_a.reverse,
          params[:year] || Subscription.current_year,
        ),
        include_blank: 'Année',
        class: 'h-25 form-control mr-2'
      ) %>
      <%= submit_tag("Filtrer", class: "btn btn-success") %>
    </div>
  <% end %>

  <div class="col-sm-6 col-md-4 offset-md-2 mt-2 mt-sm-0">
    <%= link_to t('.new'),
              %i[new admin subscription],
              class: "btn btn-primary float-right" %>
  </div>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Subscription.human_attribute_name(:member_id) %></th>
      <th class='d-none d-md-table-cell'><%= Member.human_attribute_name(:email) %></th>
      <th><%= Subscription.human_attribute_name(:course_ids) %></th>
      <th class='d-none d-md-table-cell'><%= Subscription.human_attribute_name(:fee) %></th>
      <th class='d-none d-md-table-cell'><%= Subscription.human_attribute_name(:year) %></th>
      <th colspan="2"><%= Subscription.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% if @subscriptions.empty? %>
      <tr>
        <td colspan="5" class="text-center">
          <%= link_to t('.new'), %i[new admin subscription] %>
        </td>
      </tr>
    <% else %>
      <% @subscriptions.each do |subscription| %>
        <tr class=<%= subscription.status_color %>>

          <td><%= link_to subscription.id, [:admin, subscription] %></td>
          <td>
            <%= link_to [:admin, subscription.member] do %>
              <%= image_tag url_for(subscription.member.avatar), width: 30 %>
              <%= subscription.member.full_name %>
            <% end %>
          </td>
          <td class='d-none d-md-table-cell'><%= mail_to subscription.member.email, subscription.member.email %></td>
          <td>
            <%= link_to t('defaults.details'), nil, data: { toggle: 'tooltip', title: subscription.description } %>
          </td>
          <td class='d-none d-md-table-cell'><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
          <td class='d-none d-md-table-cell'><%= subscription.year %></td>
          <td><%= Subscription.human_attribute_name(subscription.status) %></td>
          <td class='d-none d-lg-table-cell'>
            <div class="dropdown mr-1">
              <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <%= link_to t('defaults.edit'),
                            [:edit, :admin, subscription],
                            class: "dropdown-item" %>
                <%= button_to t('defaults.confirm'),
                              [:confirm, :admin, subscription],
                              method: :put,
                              class: "dropdown-item" %>
                <%= button_to t('defaults.archive'),
                              [:archive, :admin, subscription],
                              method: :put,
                              class: "dropdown-item" %>
                <%= button_to t('defaults.destroy'),
                              [:admin, subscription],
                              method: :delete,
                              data: {
                                controller: :confirm,
                                confirm_message_value: t('defaults.are_you_sure')
                              },
                              class: "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @subscriptions %>

