<h1 class="page-title"><%= t(".title") %></h1>
<hr />

<div class="container">
  <%= link_to t('.new'), class: "btn btn-primary" %>

  <table class="table mt-5">
    <thead>
      <tr>
        <th class="text-center"><%= t('.details') %></th>
        <th colspan="6" class="text-center"><%= Subscription.human_attribute_name(:status) %></th>
      </tr>
    </thead>
    <tbody>
      <% if @subscriptions.empty? %>
        <tr>
          <td class="text-center">
            <%= link_to t('.add_subscription'), new_admin_subscription_path %>
          </td>
        </tr>
      <% else %>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= link_to subscription.member.full_name, admin_subscription_path(subscription.id) %></td>
            <td><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
            <td><%= subscription.year %></td>
            <td><%= Subscription.human_attribute_name(subscription.status) %></td>
            <td>
              <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <%= link_to t('defaults.edit'), edit_admin_subscription_path(subscription.id), class: "dropdown-item" %>
                  <%= link_to t('defaults.confirm'), confirm_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                  <%= link_to t('defaults.archive'), archive_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                  <%= link_to t('defaults.destroy'), admin_subscription_path(subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "dropdown-item" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @subscriptions %>
</div>
