<div class="container">
  <%= link_to t('defaults.new', resource: Subscription.model_name.human.downcase), new_admin_subscription_path %>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th colspan="3" class="text-center">Details des inscriptions</th>
        <th colspan="3" class="text-center">Action</th>
      </tr>

    </thead>

    <tbody>
      <% if @subscriptions.empty? %>
        <tr>
          <td colspan="9" class="text-center">
            <%= link_to t('.add_subscription'), new_admin_subscription_path %>
          </td>
        </tr>
      <% else %>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= link_to subscription.member.full_name, admin_subscription_path(subscription.id) %></td>
            <td><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
            <td><%= subscription.year %></td>
            <td><%= subscription.status %></td>
            <td>
              <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choisir</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <%= link_to t('defaults.edit'), edit_admin_subscription_path(subscription.id), class: "dropdown-item" %>
                  <%= link_to t('defaults.confirm'), confirm_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                  <%= link_to t('defaults.archive'), archive_admin_subscription_path(subscription.id), method: :put, class: "dropdown-item" %>
                  <%= link_to t('defaults.destroy'), admin_subscription_path(subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "dropdown-item" %>

                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @subscriptions %>
</div>
