<div class="container">
  <p>
    <strong><%= User.human_attribute_name(:first_name) %> :</strong>
    <%= @subscription.member.first_name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:last_name) %> :</strong>
    <%= @subscription.member.last_name %>
  </p>

  <p>
    <strong><%= Subscription.human_attribute_name(:fee) %> :</strong>
    <%= number_to_currency(@subscription.fee, unit: "€", separator: ",", format: "%n %u") %>
  </p>
  <p>
    <strong><%= t('.payment') %> :</strong>
    <% if @subscription.paid? %>
      <%= t('.paid') %>
    <% else %>
      <%= t('.not_paid_yet') %>
    <% end %>
  </p>

  <% if @subscription.paid? %>
    <p>
      <strong><%= Subscription.human_attribute_name(:invoice) %> :</strong>
      <% if @subscription.invoice.attached? %>
        <%= link_to t('defaults.download'), rails_blob_path(@subscription.invoice, disposition: "attachment") %>
        <br>
        <br>
        <%= link_to t('.generate_credit_note'), new_admin_subscription_credit_note_path(@subscription.id), class: "btn btn-outline-success btn-sm" %>
        <br>
        <br>
        <table class="table">
          <th>
            <strong><%= Subscription.human_attribute_name(:credit_notes) %> :</strong>
          </th>
          <td>
           <% @subscription.credit_notes.each do |credit_note| %>
            <%= link_to t('defaults.download'), rails_blob_path(credit_note, disposition: "attachment") %>
          <% end %>
          </td>
        </table>
      <% else %>
        <%= link_to t('.preview_invoice'),  admin_subscription_invoice_path(@subscription.id), method: :get, class: "btn btn-outline-success btn-sm" %>
      <% end %>
    </p>
  <% end %>

  <p>
    <strong><%= Subscription.human_attribute_name(:year) %> :</strong>
    <%= @subscription.year %>
  </p>

  <p>
    <strong><%= Subscription.human_attribute_name(:medical_certificate) %> :</strong>
    <% if @subscription.medical_certificate.attached? %>
      <%= link_to t('defaults.download'), rails_blob_path(@subscription.medical_certificate, disposition: "attachment") %>
    <% else %>
      <%= t('defaults.none') %>
    <% end %>
  </p>
  <p>
    <strong><%= Subscription.human_attribute_name(:signed_form) %> :</strong>
    <% if @subscription.signed_form.attached? %>
      <%= link_to t('defaults.download'), rails_blob_path(@subscription.signed_form, disposition: "attachment") %>
    <% else %>
      <%= t('defaults.none') %>
    <% end %>
  </p>
  <br/>
  <div class="dropdown mr-1">
    <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <%= link_to t('defaults.edit'), edit_admin_subscription_path(@subscription.id), class: "dropdown-item" %>
      <%= link_to t('defaults.confirm'), confirm_admin_subscription_path(@subscription.id), method: :put, class: "dropdown-item" %>
      <%= link_to t('defaults.archive'), archive_admin_subscription_path(@subscription.id), method: :put, class: "dropdown-item" %>
      <%= link_to t('defaults.destroy'), admin_subscription_path(@subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "dropdown-item" %>
    </div>
  </div>
</div>
