<div class="container">
  <p>
    <strong><%= User.human_attribute_name(:first_name) %> :</strong>
    <%= @subscription.member.first_name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:last_name) %> :</strong>
    <%= @subscription.member.last_name %>
  </p>

  <p>
    <strong><%= Subscription.human_attribute_name(:fee) %> :</strong>
    <%= number_to_currency(@subscription.fee, unit: "€", separator: ",", format: "%n %u") %>
  </p>
  <p>
    <strong><%= t('.payment') %> :</strong>
    <% if @subscription.paid? %>
      <%= t('.paid') %>
    <% else %>
      <%= t('.not_paid_yet') %>
    <% end %>
  </p>

  <p>
    <strong><%= Subscription.human_attribute_name(:year) %> :</strong>
    <%= @subscription.year %>
  </p>

  <p>
    <strong><%= Subscription.human_attribute_name(:medical_certificate) %> :</strong>
    <% if @subscription.medical_certificate.attached? %>
      <%= link_to t('defaults.download'), rails_blob_path(@subscription.medical_certificate, disposition: "attachment") %>
    <% else %>
      <%= t('defaults.none') %>
    <% end %>
  </p>
  <p>
    <strong><%= Subscription.human_attribute_name(:signed_form) %> :</strong>
    <% if @subscription.signed_form.attached? %>
      <%= link_to t('defaults.download'), rails_blob_path(@subscription.signed_form, disposition: "attachment") %>
    <% else %>
      <%= t('defaults.none') %>
    <% end %>
  </p>
  <br/>

  <%= link_to t('defaults.edit'), edit_admin_subscription_path(@subscription.id), class: "btn btn-outline-warning btn-sm" %>
  <%= link_to t('defaults.destroy'), admin_subscription_path(@subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "btn btn-outline-danger btn-sm" %>
</div>
