<div class="container">
  <%= form_for @subscription,
               url: dashboard_subscription_signed_form_path(@subscription),
               data: { controller: :form } do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this subscription from being saved:</h2>

        <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :signed_form %>
      <%= form.file_field :signed_form, required: true %>
    </div>

    <div class="actions">
      <%= form.submit t('defaults.save'),
                      class: "btn btn-dark float-lg-right",
                      data: { form_target: :submit } %>
      <%= link_to t('defaults.back'), :dashboard, class: "btn btn-link float-left" %>
    </div>
  <% end %>
</div>
