<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: course, local: true, url: url) do |form| %>
      <% if course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
          <% course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :category_id %>
        <%= form.collection_select(:category_id, Category.all, :id, :title, {}, required: true, class: "form-control") %>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :capacity %>
        <%= form.number_field :capacity, required: true, class: "form-control", min: 1 %>
      </div>

      <div class="form-group">
        <%= form.label :weekday %>
        <%= form.collection_select(:weekday, Course.weekdays.to_a, :first, :first, {}, required: true, class: "form-control") %>
      </div>

      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label :active %>
      </div>

      <div class="actions">
        <%= link_to t('defaults.back'), admin_courses_path, class: "btn btn-link float-left" %>
        <%= form.submit t('defaults.save'), class: "btn btn-dark float-lg-right" %>
      </div>
    <% end %>
  </div>
</div>
