<tr class=<%= subscription.status_color %>>
  <td>
    <%= tag.div class: "border border-dark",
                style: "background-color: #{subscription.member.level}; width: 1rem; height: 1rem;",
                title: subscription.member.level_text %>
  </td>
  <td><%= link_to subscription.id, [:admin, subscription], data: { turbo_frame: '_top' } %></td>
  <td>
    <%= link_to [:admin, subscription.member], data: { turbo_frame: '_top' } do %>
      <% if subscription.member.avatar.variable? %>
        <%= image_tag subscription.member.avatar.variant(:mini), width: "30" %>
      <% else %>
        <%= image_tag subscription.member.avatar, width: "30" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to [:admin, subscription.member], data: { turbo_frame: '_top' } do %>
      <%= subscription.member.full_name %>
    <% end %>
  </td>
  <td><%= mail_to subscription.member.email, subscription.member.email %></td>
  <td><%= Subscription.human_attribute_name(subscription.status) %></td>
  <td>
    <div class="dropdown mr-1">
      <a type="button" class="dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('defaults.action') %></a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <%= link_to t('defaults.edit'),
                    [:edit, :admin, subscription],
                    class: "dropdown-item",
                    data: { turbo_frame: '_top' } %>

        <% Member.levels.each_key do |level| %>
          <% unless subscription.member.level == level %>
            <%= button_to({
                            controller: 'admin/members',
                            action: 'update',
                            id: subscription.member_id,
                            member: { level: level }
                          },
                          method: :put,
                          class: "dropdown-item d-flex align-items-center") do %>
              <%= tag.div class: "border border-dark",
                  style: "background-color: #{level}; width: 1rem; height: 1rem;",
                  title: subscription.member.level_text %>
              <span class="ml-2"><%= t(".move_to_#{level}_level") %></span>
            <% end %>
          <% end %>
        <% end %>

        <%= button_to t('defaults.pending'),
                      {
                        controller: 'admin/subscriptions',
                        action: 'update',
                        id: subscription.id,
                        no_notification: true,
                        subscription: { status: 'pending' }
                      },
                      method: :put,
                      class: "dropdown-item" %>

        <%= button_to t('defaults.confirmed_bank_check'),
                      {
                        controller: 'admin/subscriptions',
                        action: 'update',
                        id: subscription.id,
                        no_notification: true,
                        subscription: { status: 'confirmed_bank_check' }
                      },
                      method: :put,
                      class: "dropdown-item text-success" %>

        <%= button_to t('defaults.confirmed_cash'),
                      {
                        controller: 'admin/subscriptions',
                        action: 'update',
                        id: subscription.id,
                        no_notification: true,
                        subscription: { status: 'confirmed_cash' }
                      },
                      method: :put,
                      class: "dropdown-item text-info" %>

        <%= button_to t('defaults.archive'),
                      {
                        controller: 'admin/subscriptions',
                        action: 'update',
                        id: subscription.id,
                        no_notification: true,
                        subscription: { status: 'archived' }
                      },
                      method: :put,
                      class: "dropdown-item text-danger" %>

        <%= button_to t('.remove_from_course'),
                      unlink_course_admin_subscription_path(subscription.id, course_id: @course.id),
                      method: :delete,
                      data: {
                        controller: :confirm,
                        confirm_message_value: t(
                          '.remove_from_course_are_you_sure',
                          member_full_name: subscription.member.full_name, course_title: @course.title
                        )
                      },
                      class: "dropdown-item text-danger",
                      data: { turbo_frame: :course_subscriptions } %>

        <%= button_to t('defaults.destroy'),
                      [:admin, subscription],
                      method: :delete,
                      data: {
                        controller: :confirm,
                        confirm_message_value: t('defaults.are_you_sure')
                      },
                      class: "dropdown-item text-danger",
                      data: { turbo_frame: :course_subscriptions } %>
      </div>
    </div>
  </td>
</tr>
