<h1 class="page-title"><%= t(".title") %></h1>
<hr />

<%= link_to t('defaults.new', resource: Course.model_name.human.downcase), new_admin_course_path, class: "btn btn-primary float-right mb-4" %>

<div class="table-responsive mt-3">
  <table class="table">
    <thead>
      <tr>
        <th><%= Course.human_attribute_name(:title) %></th>
        <th><%= Course.human_attribute_name(:capacity) %></th>
        <th><%= Course.human_attribute_name(:availability) %></th>
        <th colspan="2" class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <% if @courses.empty? %>
        <tr>
          <td colspan="9" class="text-center">
            <%= link_to t('.add_course'), new_admin_course_path %>
          </td>
        </tr>
      <% else %>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <% unless course.active? %>
                (<%= t('.inactive') %>)
              <% end %>
              <%= link_to course.title, [:admin, course] %>
            </td>
            <td><%= course.capacity %></td>
            <td><%= course.availability %></td>
            <td>
              <%= link_to t('defaults.edit'),
                          [:edit, :admin, course],
                          class: "btn btn-outline-warning btn-sm" %>
            </td>
            <td>
              <%= button_to t('defaults.destroy'),
                            [:admin, course],
                            method: :delete,
                            data: {
                              controller: :confirm,
                              confirm_message_value: t('defaults.are_you_sure')
                            ,
                            class: "btn btn-outline-danger btn-sm" %>
              </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

