<h1 class="page-title">
  <%= link_to '←', [:admin, @course.previous], title: @course.previous.title %>
  <%= @course.title %>
  <%= link_to '→', [:admin, @course.next], title: @course.next.title %>
</h1>
<hr />

<div class="row pt-2">
  <div class="col-8 offset-2">
    <div class="d-flex justify-content-end">
      <%= link_to t('defaults.edit'),
                  [:edit, :admin, @course],
                  class: "btn btn-outline-warning btn-sm mr-2" %>

      <%= button_to t('defaults.destroy'),
                    [:admin, @course],
                    method: :delete,
                    data: {
                      controller: :confirm,
                      confirm_message_value: t('defaults.are_you_sure')
                    },
                    class: "btn btn-outline-danger btn-sm" %>
    </div>

    <p>
      <strong><%= Course.human_attribute_name(:title) %> :</strong>
      <%= @course.title %>
    </p>

    <p>
      <strong><%= Course.human_attribute_name(:description) %> :</strong>
      <%= @course.description %>
    </p>

    <p>
      <strong><%= Course.human_attribute_name(:capacity) %> :</strong>
      <%= @course.capacity %>
    </p>

    <p>
      <strong><%= Course.human_attribute_name(:availability) %> :</strong>
      <%= @course.availability%>
    </p>

    <p>
      <strong><%= Course.human_attribute_name(:category_id) %> :</strong>
      <%= @course.category.title %>
    </p>

    <p>
      <strong><%= Course.human_attribute_name(:weekday) %> :</strong>
      <%= @course.weekday %>
    </p>

    <hr />

    <div class="d-flex justify-content-between">
      <%= link_to t('defaults.back'), :back, class: "btn btn-link" %>

      <%= link_to t('.new_subscription', resource: Subscription.model_name.human.downcase), new_admin_subscription_path(course_ids: @course.id), class: "btn btn-primary" %>
    </div>

    <div class="row mt-4">
      <%= form_with url: [:admin, @course],
                local: true,
                method: :get,
                class: "col-sm-12 col-md-8 col-lg-6" do %>
        <div class= "d-flex align-items-center">
        <%= collection_select(
          nil,
          :status,
          Subscription.status_options.map(&:values),
          :first,
          :last,
          { include_blank: 'Statut' },
          value: params[:status],
          class: 'h-25 form-control mr-2'
        ) %>
        <%= select_tag(
          :year,
          options_for_select(
            Subscription.select_options,
            params[:year],
          ),
          include_blank: 'Année',
          class: 'h-25 form-control mr-2'
        ) %>
        <%= submit_tag("Filtrer", class: "btn btn-success") %>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <%= turbo_frame_tag :course_subscriptions do %>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>
              <%= link_to url_for(order: "subscriptions.id #{session[:admin_course_subscriptions_order].in?([nil, 'subscriptions.id DESC']) ? 'ASC' : 'DESC'}") do %>
                <%= Subscription.model_name.human %>&nbsp;<%= session[:admin_course_subscriptions_order].in?([nil, 'subscriptions.id DESC']) ? '⬇️' : '⬆️' %>
              <% end %>
            </th>

            <th><%= Member.human_attribute_name(:avatar) %></th>

            <th>
              <%= link_to url_for(order: "members.first_name #{session[:admin_course_subscriptions_order] == 'members.first_name DESC' ? 'ASC' : 'DESC'}") do %>
                <%= Member.human_attribute_name(:first_name) %>&nbsp;<%= session[:admin_course_subscriptions_order] == 'members.first_name DESC' ? '⬇️' : '⬆️' %>
              <% end %>
              /
              <%= link_to url_for(order: "members.last_name #{session[:admin_course_subscriptions_order] == 'members.last_name DESC' ? 'ASC' : 'DESC'}") do %>
                <%= Member.human_attribute_name(:last_name) %>&nbsp;<%= session[:admin_course_subscriptions_order] == 'members.last_name DESC' ? '⬇️' : '⬆️' %>
              <% end %>
            </th>

            <th>
              <%= link_to url_for(order: "users.email #{session[:admin_course_subscriptions_order] == 'users.email DESC' ? 'ASC' : 'DESC'}") do %>
                <%= User.human_attribute_name(:email) %>&nbsp;<%= session[:admin_course_subscriptions_order] == 'users.email DESC' ? '⬇️' : '⬆️' %>
              <% end %>
            </th>

            <th><%= Subscription.human_attribute_name(:status) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% if @course.subscriptions
                      .filter_by_status(params[:status])
                      .where(year: params[:year] || Subscription.current_year)
                      .empty? %>
            <tr>
              <td colspan="9" class="text-center">
                <%= link_to t('.new_subscription'), new_admin_subscription_path, class: "btn btn-primary", data: { turbo_frame: '_top' } %>
              </td>
            </tr>
          <% else %>
            <% @course.subscriptions
                      .joins(member: :user)
                      .filter_by_status(params[:status])
                      .where(year: params[:year] || Subscription.current_year)
                      .order(session[:admin_course_subscriptions_order], created_at: :desc)
                      .includes(member: [:user, :avatar_attachment]).each do |subscription| %>
              <%= render 'admin/courses/subscription', subscription: subscription %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

