<p>
  <strong><%= Course.human_attribute_name(:title) %> :</strong>
  <%= @course.title %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:description) %> :</strong>
  <%= @course.description %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:capacity) %> :</strong>
  <%= @course.capacity %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:category) %> :</strong>
  <%= @course.category %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:weekday) %> :</strong>
  <%= @course.weekday %>
</p>

<br/>

<%= link_to t('defaults.edit'), edit_admin_course_path(@course.id) %>
<%= link_to t('defaults.destroy'), admin_course_path(@course.id), method: :delete, data: { confirm: t('defaults.are_you_sure') } %>

<%= link_to t('defaults.new', resource: Subscription.model_name.human.downcase), new_admin_subscription_path %>

<hr />

<table class="table">
  <thead>
    <tr>Liste des inscriptions </tr>
  </thead>

  <tbody>
    <% if @course.subscriptions.empty? %>
      <tr>
        <td colspan="9" class="text-center">
          <%= link_to t('.add_subscription'), new_admin_subscription_path %>
        </td>
      </tr>
    <% else %>
      <% @course.subscriptions.each do |subscription| %>
        <tr>
          <td><%= subscription.member.full_name %></td>
          <td><%= subscription.fee %></td>
          <td><%= subscription.year %></td>
          <td><%= link_to t('defaults.show'), admin_subscription_path(subscription.id) %></td>
          <td><%= link_to t('defaults.edit'), edit_admin_subscription_path(subscription.id) %></td>
          <td><%= link_to t('defaults.destroy'), admin_subscription_path(subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
