<div class="container">
  <p>
    <strong><%= Course.human_attribute_name(:title) %> :</strong>
    <%= @course.title %>
  </p>

  <p>
    <strong><%= Course.human_attribute_name(:description) %> :</strong>
    <%= @course.description %>
  </p>

  <p>
    <strong><%= Course.human_attribute_name(:capacity) %> :</strong>
    <%= @course.capacity %>
  </p>

  <p>
    <strong><%= Course.human_attribute_name(:category) %> :</strong>
    <%= @course.category %>
  </p>

  <p>
    <strong><%= Course.human_attribute_name(:weekday) %> :</strong>
    <%= @course.weekday %>
  </p>

  <br/>

  <%= link_to t('defaults.edit'), edit_admin_course_path(@course.id), class: "btn btn-outline-warning btn-sm" %>
  <%= link_to t('defaults.destroy'), admin_course_path(@course.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "btn btn-outline-danger btn-sm" %>
  <hr />
  <%= link_to t('defaults.new', resource: Subscription.model_name.human.downcase), new_admin_subscription_path, class: "btn btn-primary" %>

  <table class="table">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:full_name) %></th>
        <th><%= User.human_attribute_name(:avatar) %></th>
        <th><%= Subscription.human_attribute_name(:fee) %></th>
        <th><%= Subscription.human_attribute_name(:year) %></th>
        <th colspan="2" class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <% if @course.subscriptions.empty? %>
        <tr>
          <td colspan="9" class="text-center">
            <%= link_to t('.add_subscription'), new_admin_subscription_path, class: "btn btn-primary" %>
          </td>
        </tr>
      <% else %>
        <% @course.subscriptions.includes(:member).each do |subscription| %>
          <tr>
            <td><%= link_to subscription.member.full_name , admin_subscription_path(subscription.id) %></td>
            <td><%= image_tag url_for(subscription.member.avatar), width: "30" %></td>
            <td><%= number_to_currency(subscription.fee, unit: "€", separator: ",", format: "%n %u") %></td>
            <td><%= subscription.year %></td>
            <td><%= link_to t('defaults.edit'), edit_admin_subscription_path(subscription.id), class: "btn btn-outline-warning btn-sm" %></td>
            <td><%= link_to t('defaults.destroy'), admin_subscription_path(subscription.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
