<div class="w-full max-w-2xl mx-auto px-4 py-8">
  <%= render 'dashboard/subscriptions/details', subscription: @subscription %>

  <div class="mt-6">
    <%= render 'dashboard/subscriptions/payment_tabs', subscription: @subscription %>

    <div class="bg-white rounded-xl shadow-lg p-8 flex flex-col gap-6 animate-slide-in-from-left animation-duration-500">
      <h2 class="text-xl font-bold text-gray-900">
        <%= t('.title') %>
      </h2>

      <p class="text-gray-600">
        <%= t('.description') %>
      </p>

      <p class="text-gray-600">
        <%= t('.iban') %><br>
        <%= t('.bic') %><br>
        <%= t('.address') %><br>
      </p>

      <%= render 'form', subscription: @subscription %>
    </div>
  </div>
</div>
