<!DOCTYPE html>
<html>
  <head>
    <title>Pkp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if alert.present? %>
      <div class="alert alert-warning text-center mb-0" role="alert">
        <span id="alert"><%= alert %></span>
      </div>
    <% end %>
    <% if notice.present? %>
      <div class="alert alert-info text-center mb-0" role="alert">
        <span id="notice"><%= notice %></span>
      </div>
    <% end %>
    <div class="container background-white pt-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
