<!DOCTYPE html>
<html lang="<%= I18n.locale%> ">
  <head>
    <title>Parkour Paris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#343a40">
    <link rel="apple-touch-icon" href="/assets/pkp-192.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>

  <body>
    <%= render 'layouts/pwa' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <div class="container background-white pt-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
