<!DOCTYPE html>
<html lang="<%= I18n.locale%> ">
  <head>
    <title>Parkour Paris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#343a40">
    <link rel="apple-touch-icon" href="/assets/pkp-192.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/pwa' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <div class="container background-white pt-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    <div class="modal fade" id="subscription-instructions" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= t('dashboard.index.how_to_complete_my_subscription') %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'dashboard/subscription_instructions' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('defaults.close') %></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
